.side-nav {
  position: fixed;
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 10;
  transition: left 0.5s ease-in-out;

  @media all and(min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    left: -280px;
  }

  &.show {
    left: 0;
  }

  &__top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ebedee;
    width: 100%;
    padding: 30px;

    .logo-container {
      display: flex;
      align-items: center;

      &__desc {
        padding-left: 40px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 40px;
          left: 20px;
          background-color: #ebedee;
        }
      }
    }
  }

  &__mid {
    padding: 30px 0;
    border-bottom: 1px solid #ebedee;
    height: calc(100vh - 180px);
    overflow-y: auto;

    .menu {
      list-style: none;
      margin: 0;

      &__item {
        padding: 7px 30px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &.active,
        &:hover {
          background-color: $lightBlue;
          position: relative;

          a {
            color: $blue;
          }
        }

        &.active:after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 2px;
          height: 100%;
          background-color: $blue;
        }

        a {
          font-size: 16px;
          line-height: 24px;
          color: $black;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  &__bottom {
    padding: 20px 30px;

    .login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .arrow-right {
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        .arrow-right {
          transform: translateX(3px);
        }
      }

      &__desc {
        position: relative;

        .name {
          text-transform: capitalize;
        }

        .statment {
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-size: 12px;
          font-weight: 600;
          color: #99a9b1;
        }
      }
    }
  }
}