.file-pic {
  position: relative;
  padding: 14px;
  border-radius: 5px;

  &--red {
    background: $lightRed;
  }

  &--turquoise {
    background: $lightTurquoise;
  }

  &--blue {
    background: $lightBlue;
  }

  &--big {
    padding: 35px;
    display: flex;

    @media all and(max-width: $breakpoint-desktop) {
      display: none;
    }
  }

  &--small {
    display: flex;

    @media all and(min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}