.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__box {
    display: flex;
    flex: 0 0 23%;
    max-width: 23%;
    flex-wrap: wrap;
    align-items: center;

    padding: 15px 10px;
    background: #fff;
    border-radius: 5px;
    @media all and(min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktopBig) {
     justify-content: center;
      text-align: center;
    }
  }

  &__pic {
    display: flex;
    padding: 15px;
    border-radius: 50%;

    &--blue {
      background: $secondaryLightBlue;
    }

    &--purple {
      background: $lightPurple;
    }

    &--orange {
      background: $lightOrange;
    }

    &--turquoise {
      background: $lightTurquoise;
    }
  }

  &__desc {
    padding-left: 8px;
    @media all and(min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktopBig) {
      padding: 5px 0 0 0;
    }
    .number {
      font-size: 20px;
      line-height: 1.2;
      @media all and(min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktopBig) {
        padding: 5px 0;
      }
    }
  }
}
