.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__box {
    display: flex;
    flex: 0 0 23%;
    max-width: 23%;
    align-items: center;
    max-height: 120px;
    padding: 15px 10px;
    background: #fff;
    border-radius: 5px;
  }

  &__pic {
    display: flex;
    padding: 15px;
    border-radius: 50%;

    &--blue {
      background: $secondaryLightBlue;
    }

    &--purple {
      background: $lightPurple;
    }

    &--orange {
      background: $lightOrange;
    }

    &--turquoise {
      background: $lightTurquoise;
    }
  }

  &__desc {
    padding-left: 8px;

    .number {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
