.statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 0 70%;
  max-width: 70%;
  padding-left: 20px;

  @media all and(max-width: $breakpoint-desktop) {
    flex-direction: column;
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 20px;
    margin-left: -20px;
  }

  @media all and(min-width: $breakpoint-desktop) and(max-width:$breakpoint-desktopBig) {
    align-content: flex-start
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 10px;
    background: #fff;
    border-radius: 5px;

    @media all and(min-width: $breakpoint-desktop) {
      height: 25%;
      min-width: calc(20% + 20px);
    }
    @media all and(min-width: $breakpoint-desktop) and(max-width:$breakpoint-desktopBig) {
    margin-bottom: 20px;
    }
  }

  &__pic {
    display: flex;
    padding: 15px;
    border-radius: 50%;

    &--blue {
      background: $secondaryLightBlue;
    }

    &--purple {
      background: $lightPurple;
    }

    &--orange {
      background: $lightOrange;
    }

    &--turquoise {
      background: $lightTurquoise;
    }
  }

  &__desc {
    padding-left: 8px;

    @media all and(max-width: $breakpoint-desktop) {
      padding-left: 20px;
    }

    .subtitle {
      @media all and(max-width: $breakpoint-desktop) {
        padding-bottom: 5px;
      }
    }

    .number {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}