* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
    background-color: $lightGrey;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    color: $blue;
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease-in;

    &:hover,
    &:focus {
        color: lightskyblue;
        text-decoration: none;
    }
}

a,
p {
    font-size: 16px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
}

img {
    max-width: 100%;
    height: auto;
}