$darkBlue: #191d1f;
$blue: #2b8ff4;
$lightBlue: #C5DAEF;
$lightRed: #ef3f3f;
$lightGreen: #62d480;
$lightOrange: #f4982b;
$lightPurple: #a065e0;
$primaryGrey: #7a8388;
$secondaryGrey: #99a9b1;
$thirdGrey: #d0d2d2;
$black: #1a1a1a;
$lightBlack: #303435;
$lightGrey: #ebedee;

$lgPurpleBlue: linear-gradient(244deg, #a065e0 100%, #2b8ff4);

$interRegular: 'Inter-Regular';
$interBold: 'Inter-Bold';
$interMedium: 'Inter-Medium';
$interSemiBold: 'Inter-SemiBold';
