$path: '../assets/images/';

$darkBlue: #191d1f;
$blue: #2b8ff4;
$lightBlue: #C5DAEF;
$lightRed: #ef3f3f;
$lightGreen: #62d480;
$lightOrange: #f4982b;
$lightPurple: #a065e0;
$lgPurpleBlue: linear-gradient(244deg, #a065e0 100%, #2b8ff4);