.body-content {
    padding-left: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media all and(min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
        padding-left: 0;
    }
}
