.wrapper {
  display: flex;
  padding: 0 30px;
  max-width: 100%;

  &__col-left {
    flex: 0 0 26%;
    max-width: 26%;
    padding-right: 10px;
  }

  &__col-right {
    flex: 0 0 74%;
    max-width: 74%;
    padding-left: 10px;
  }

  &__col-left, &__col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
