.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  max-width: 100%;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;

    &--end {
      justify-content: flex-end;

      @media all and(min-width: $breakpoint-desktop) and(max-width:$breakpoint-desktopBig) {
        height: 600px;
      }
      @media all and(min-width: $breakpoint-desktopBig){
        height: 480px;
      }
    }
  }


  // &__col-left {
  //   flex: 0 0 30%;
  //   max-width: 30%;
  //   padding-right: 10px;
  //   @media all and(min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktopBig) {
  //     padding-right: 5px;
  //   }
  // }

  // &__col-right {
  //   flex: 0 0 70%;
  //   max-width: 70%;
  //   padding-left: 10px;
  //   @media all and(min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktopBig) {
  //     padding-left: 5px;
  //   }
  // }

  &__col-left,
  &__col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}